.about-us {
  .objectives {
    background: top left no-repeat url("../images/bg-2.png");
  }
  .about-logo {
    background: center no-repeat url("../images/demo-3.jpg");
    background-size: cover;
  }
}